/*CSS Reset Rule*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'open sans', sans-serif;
}
nav {
	padding: 0.8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid grey;
}
ul {
	list-style-type: none;
}

nav .nav, navlogo {
	margin: 0.5rem;
	display: inline;
}
#intro {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}
.header {
	text-align: center;
}
#intro h2, #intro p {
	margin-bottom: 2rem;
}
#intro button {
	color: white;
	font font-weight: bold;
	background-color: beige;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
}
#succeedinfo {
	padding:  2rem 10% 3rem;
}
#succeedinfo h2 {
	margin-bottom: 1rem;
}
#succeedinfo h3 {
	text-align: center;
	margin-bottom: 1rem;
}
#succeedinfo .card {
	display: inline-block;
	vertical-align: top;
	min-height: 175px;
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
#prefooter {
	padding: 1rem;
	background-color: darkred;
}
#prefooter > div {
	display: inline-block;
	width:  20%;
}
#prefooter > div >* {
	margin: 0.3rem;
}
footer {
	padding: 0.7rem;
}
footer span {
	margin: 0 0.5 rem;
}
