* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'open sans', sans-serif;
}

nav {
	padding: 1rem;
	padding-top: 4rem;
	margin-bottom: none;
	border-bottom: 1px solid grey;
	background-color: orange;
}
ul {
	list-style-type: none;
}
nav .navee {
	margin: 0.5rem;
	display: inline;
}
.KBS {
	text-align: center;
	margin-bottom: 15px;
}
.kina {
	text-align: center;
}
#article {
	text-align: center;
	padding: 2rem;
	line-height: 1.8;
}
#article2 {
	text-align: center;
	padding: 2rem;
	line-height: 1.8;

}
#article3 {
	text-align: center;
	padding: 2rem;
	line-height: 1.8;
}
#main {
	background-color: lightcyan;
}
header {
	background-color: lightgreen;
}

#div {
	background-color: lightgreen;
	text-align: center;
	padding-bottom: 2rem;

}
div > button {
	color: blanchedalmond;
	font font-weight: bold;
	background-color: orangered;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
}
#head {
	padding: 3rem;
}